body{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  background-image: url("https://picsum.photos/1600/900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.container{
  min-height: 100vh;
  display: flex;
  gap: 10rem;
  
  align-items: center;

}
.contact{
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  background-color: white;
  color: black;
}
.addcontact{
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 2rem;
  background-color: white;
  color: black;

}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
}
.btn{
  width: 12.8rem;
}